# Symfony (PHP)
symfony-backend/vendor/
symfony-backend/var/
symfony-backend/.env
symfony-backend/.env.local
symfony-backend/.env.*.local
symfony-backend/public/build/
symfony-backend/public/uploads/
symfony-backend/public/bundles/
symfony-backend/node_modules/
symfony-backend/.env.*
symfony-backend/symfony.lock
# symfony-backend/composer.lock
symfony-backend/var/cache/
symfony-backend/var/log/
symfony-backend/config/packages/old/

# React (JavaScript)
react-frontend/node_modules/
react-frontend/build/
react-frontend/.env
react-frontend/.env.local
react-frontend/.env.*.local
react-frontend/.env.*
node_modules/
package-lock.json


# VS Code
.vscode/
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json

# System-Dateien (Windows/macOS)
.DS_Store
Thumbs.db

# Symfony spezifisch
/vendor/
/var/
/node_modules/
/public/build/
/public/uploads/

# Konfigurationsdateien
.env
.env.local
.env.*
symfony.lock
# composer.lock

# IDE / OS spezifische Dateien
.idea/
.DS_Store
Thumbs.db
